<a href="https://colab.research.google.com/github/Ambrose-ikedi/Kiwimbi-Library-Interactive-Analytics-Dashboard/blob/main/Kiwimbi_Library_Interactive_Analytic_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kiwimbi Library Interactive Analytics Dashboard**

In [30]:
import pandas as pd

In [31]:
url = '/content/Kiwimbi Kenya Data Submission (Responses) (2).xlsx'

In [34]:
df = pd.read_excel(url)

In [35]:
df.head()

,NAMES:,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00
0,Aaron Hinkle,No,Yes,No,Yes,No,No,No,No,No,No,No,No
1,Ambrose Ikedi,No,No,No,No,No,No,No,No,No,No,No,No
2,Andrew Ekweny,No,No,Yes,No,No,No,No,No,No,No,No,No
3,Anne Zella,No,Yes,Yes 2,No 2,No 3,No 4,No 5,No 6,No 7,No 8,No 9,No 10
4,Caren Abita.,No,Yes,Yes,No,No,No,No,No,No,No,No,No